@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --food-easy-primary: #1c83d7;
  --food-easy-lite: #eff6ff;
  --food-easy-hover: #1d4ed8;
  --food-easy-border: #93c5fd;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   font-family: "Poppins",sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--food-easy-primary);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--food-easy-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
html, body, #root {
  min-height: 0;
}
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@tailwind base;
@tailwind components;
@tailwind utilities;